<div class="jumbotron">
  <h2>Raspberry PI 2 Pins</h2>
</div>
<div class="content">
  <div>
    <%= for {number, pin} <- @pins do %>
      <dl>
        <dt>Number</dt>
        <dd><%= number %></dd>
        <dt>Description</dt>
        <dd><%= Ui.Pin.description pin %></dd>
      </dl>
    <% end %>
  </div>
</div>
